.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  background: #ffffff;

}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
}

/* NAV 2*/
.nav-2links {
  display: flex;
  justify-content: center;
  gap: 40px;
  background: #310b0b;
}

.nav-2links a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.nav-2links a:hover {
  text-decoration: underline;
}

/* NAV */
.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

/* hover suave */
.nav-links a:hover {
  color: #6b1d1d;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    font-size: 16px;
    text-decoration: none;
    color: black;
  }

  .logo img {
    height: 50px;
  }
}

@media (max-width: 700px) {
  .nav-links {
    display: none;
  }
}